{% extends 'blog/base.html' %}
{% block content %}
    <body>
        <div class="content container">
      <div class="row">
          <div class="col-md-8">
              {% for post in posts %}
                  <div class="post">
                      <div class="date">
                          {{ post.yayinlanma_tarihi }}
                      </div>
                      <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.baslik }}</a></h1>
                      <p>{{ post.yazi|linebreaks }}</p>
                  </div>
              {% endfor %}
          </div>
      </div>
  </div>
    </body>
    {% endblock content %}
